body{
    background-color: rgb(255, 255, 255);             
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;             
    margin: 0; 
}

header{
    text-align: right; 
    background-color: #ff6f61;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3.5vh;
    
    
}

#n1{
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.parrafo{
    font-family: Helvetica;
    font-size: 20px; 
    padding-right: 4%;
    text-align: left;
}

.Titulo{
    text-align: left;
    font-family: Garamond;
    font-size: 7vh;
}

.pie{ 
    text-align: center; 
    background-color: #ff6f61;
    color: white;
}
.Barra li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-right: 25px;
    display: block;
}

.Barra li{
    display: inline-block;
    text-align: center;
}

.Barra li a:hover{
    background: #8a4c47;
    border-radius: 2vh;

}

.map{
    display: flex;
    justify-content: center;
}



#botones{
    text-align: center;
}

#botones input[type="button"] {
    margin-top: 2%;
    background-color: #ff6f61; 
    margin-right: 10px;
    color: white; 
    padding: 10px 20px;
    border: none; 
    margin-bottom: 2%;
}

#botones input[type="button"]:hover {
    background-color: #a54b43; /
}

